extends /pug/bases/header.pug

block headelms
	title Pahal - ISTE NIT Hamirpur Admissions
	link(rel="stylesheet", type="text/css", href="styles/index.min.css")

block content
	a.chatbotgo(href="#chatbot") CHAT
	section#banner
		div.shadow
			h1 PAHAL
			p An initiative by ISTE, NIT Hamirpur

	-
		var buttons = [
			{"title":"todo",    "icon":"fas fa-list-ul",         "link":"todo.html"},
			{"title":"docs",    "icon":"fas fa-file-alt",        "link":"docreq.html"},
			{"title":"map",     "icon":"fas fa-map-marked",      "link":"map.html"},
			{"title":"faq",     "icon":"fas fa-question-circle", "link":"faq.html"},
			{"title":"feedback","icon":"fas fa-comments",        "link":"feedback.html"},
			{"title":"about us","icon":"fas fa-user-friends",    "link":"aboutus.html"}
		];
		var timer = ["days","hours","mins","seconds"];
	br
	
	//.card 
		h2 Admissions starting in
		#countdown-display 
			each unit in timer
				#countdown-unit
					div(class=unit)
					p= unit

	.card.justify
		h1 What is Pahal?
		.image
			img(src='resources/images/pahal-logo.png' alt='Pahal Poster')
		p!= 'Team ISTE here at NIT Hamirpur is taking an initiative <b>PAHAL</b> to help freshers in the admission process by setting up a help-desk, in-person guidance, and in every way possible. &#128512;'
		p!= 'This website is to provide necessary tools and information.'
		p!= 'This website is <b>mobile-oriented</b> to minimise load on users\' devices. Dark mode is recommended for power savings but light mode is also available and fully functional.'
		p!= '<b>NOTE:</b> We have tried our best to verify all the information but descrepancies can occur and are deeply regreted. Data given here should not be assumed official and data from official sources and officials are superior.'

	.link-flex
		each button in buttons
			a(class="link-square home-bottom-btn",href=button.link)
				.title= button.title
				i(class=button.icon)
				
	script.
		if ('serviceWorker' in navigator) {
			console.log("Will the service worker register?");
			navigator.serviceWorker.register('service-worker.js')
				.then(function(reg){
					console.log("Yes, it did.");
				}).catch(function(err) {
					console.log("No it didn't. This happened: ", err)
				});
		}

		
	<div class="chatbotdiv">
		<iframe width="350" height="430" allow="microphone;" id="chatbot" class="chatbot" src="https://console.dialogflow.com/api-client/demo/embedded/f8fa62f5-6632-4f49-9091-c03b8d02997b"></iframe>
	</div>

	
